# torch==2.0.1+cu118; platform_system != "Linux"
# torch==2.0.1+cpu; platform_system != "Linux"

torch==2.0.1+cpu --find-links https://download.pytorch.org/whl/torch_stable.html
streamlit==1.34.0
torchtext==0.15.2
unidecode
